{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}
{% block content %}
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="col-md-4 col-lg-6 d-none d-md-flex"></div>

    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading brand-font mb-4 text-center">Crie sua Conta</h3>

                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ form.nome(class="form-control", placeholder="Nome Completo") }}
                        {{ form.nome.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.email(class="form-control", placeholder="seuemail@exemplo.com") }}
                        {{ form.email.label }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.senha(class="form-control", placeholder="Senha") }}
                        {{ form.senha.label }}
                    </div>

                    <div class="d-grid mt-4">
                        <button class="btn btn-lg btn-primary text-uppercase fw-bold mb-2" type="submit">Cadastrar</button>
                    </div>

                    <div class="text-center mt-3">
                        <p>Já possui uma conta? <a href="{{ url_for('main.login') }}">Faça o login</a></p>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}