{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="col-md-4 col-lg-6 d-none d-md-flex"></div>

    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="text-center mb-4">
                <h2 class="brand-font" style="color: var(--azalea); font-size: 3rem;">RHarmony</h2>
                <p class="text-muted">Bem-vindo(a) de volta! Faça o login para continuar.</p>
              </div>

              <form method="POST" action="{{ url_for('main.login') }}" novalidate>
                  {{ form.hidden_tag() }}
                  <div class="form-floating mb-3">
                      {{ form.email(class="form-control", placeholder="seuemail@exemplo.com") }}
                      {{ form.email.label }}
                  </div>
                  <div class="form-floating mb-3">
                      {{ form.senha(class="form-control", placeholder="Sua senha") }}
                      {{ form.senha.label }}
                  </div>

                  <div class="d-grid mt-4">
                      <button class="btn btn-lg btn-primary text-uppercase fw-bold mb-2" type="submit">Entrar</button>
                  </div>

                  <div class="text-center mt-3">
                    <p>Ainda não tem uma conta? <a href="{{ url_for('main.cadastro') }}">Cadastre-se</a></p>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}